[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
dj-database-url = "*"
twilio = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-apscheduler = "*"
qrcode = {extras = ["pil"], version = "*"}

[dev-packages]
robotframework = "==6.1.1"
robotframework-requests = "==0.9.5"

[requires]
python_version = "3.12"
